:root {
  font-size: 2.5vw;
  background: #f0f0f0;
}

.center {
  text-align: center;
}

.card {
  width: 14em;
  background: #fff;
  border-radius: 1em;
  margin: 1em auto;
  padding: 1em 2em 2em 2em;
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.05),
    0 0.2em 2em rgba(0, 0, 0, 0.1);
}

.field {
  margin: 1em 0;
}

label {
  margin-left: 0.75em;
  color: #777;
}

input {
  font-size: 1.5em;
  height: 1.5em;
  width: 8.5em;
  padding: 0 0.5em;
  border: 0;
}
